@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

#container
{
	background-color: #666;
}

body
{
	font-family: 'Pacifico', cursive;
}

#mainHeader
{
	background-color: #efefef;
	border-bottom: solid 10px #fff;
}

#logo
{
	
	font-size: 60px;
	color: #666;
	text-align: center;
	padding: 10px;
}

#intro
{
	font-size: 20px;
	color: #fff;
	padding: 20px;
	text-align: center;
}

#image-wrapper
{
	display: flex;
	flex-direction: column;
}

.icon
{
	display: inline;
	width: 50%;
	margin: 0 auto;
	padding: 20px;
}
