@charset "UTF-8";
/*CSS Doc*/

.hidden
{
	display: none;
}

#container
{
	margin: 0 auto;
	background-color: #666;
}

body
{
	font-family: 'Pacifico', cursive;
}

#mainHeader
{
	height: 150px;
	background-color: #efefef;
	border-bottom: solid 10px #fff;
}

#logo
{
	
	font-size: 60px;
	color: #666;
	text-align: center;
}

#intro
{
	font-size: 20px;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.icon
{
	width: 100%;
	margin-left: 10px;
	margin-top: 40px;
}